In [10]:
# using property class
class Celsius:
    def __init__(self, temperature=0):
        self.temperature = temperature

    def to_fahrenheit(self):
        return (self.temperature * 1.8) + 32

    # getter
    @property
    def temperature(self):
        print("Getting value...")
        return self._temperature

    # setter

    @temperature.setter
    def temperature(self, value):
        print("Setting value...")
        if value < -273.15:
            raise ValueError("Temperature below -273.15 is not possible")
        self._temperature = value

    # creating a property object
    #temperature = property(get_temperature, set_temperature)


human = Celsius(-273)
human.temperature
#human.to_fahrenheit()

#human.temperature = -300

Setting value...
Getting value...

-273

In [14]:
import numpy as np

l = 100
eg = np.linspace(-7, 7, num=l)
#eg = np.random.shuffle(eg)

rng = np.random.default_rng()
rng.shuffle(eg)
#print(eg)
print(eg)

[-5.58585859  5.44444444 -0.49494949 -0.35353535 -6.57575758  5.72727273
  0.91919192  1.34343434 -5.16161616  1.48484848  3.74747475 -3.74747475
 -2.05050505 -4.73737374 -1.90909091  0.35353535  0.49494949  4.17171717
  0.21212121  3.46464646 -5.3030303   4.31313131  5.86868687  5.3030303
  6.15151515  1.90909091  3.60606061  6.85858586 -2.75757576 -2.47474747
 -1.2020202  -6.43434343  1.06060606  2.33333333 -3.32323232  2.19191919
 -4.31313131 -2.8989899   1.62626263 -6.15151515 -5.86868687 -4.87878788
  2.05050505 -3.46464646 -3.88888889  6.43434343 -0.91919192 -4.17171717
  5.16161616  2.8989899   1.76767677 -4.5959596   1.2020202   4.87878788
  6.29292929 -4.45454545 -0.21212121 -3.18181818  3.18181818 -7.
  3.04040404 -5.72727273  6.57575758 -6.01010101  0.63636364  4.45454545
 -0.07070707  4.03030303 -5.02020202 -1.76767677  3.88888889 -0.77777778
 -3.04040404 -4.03030303  5.02020202 -2.33333333  4.73737374 -2.19191919
 -6.85858586 -0.63636364 -5.44444444 -2.61616162 -1.62626263 -1.34343434
 -6.71717172 -1.48484848  6.71717172  4.5959596  -6.29292929  2.61616162
  5.58585859  7.          0.77777778  2.75757576 -1.06060606  2.47474747
 -3.60606061  3.32323232  0.07070707  6.01010101]

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])#

print(df)

df['A'] = df['A'].where(df['A'] < 4, 5000)
df
#max_te =

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

      A  B
0     0  1
1     2  3
2  5000  5
3  5000  7
4  5000  9